@{
    ViewData["Title"] = "Mi Pagina";
}

<div class="text-center">
    <h1 class="display-4">Hola Chicos</h1>
    <p>Vamos!!!!<a href="https://www.google.com">Buenisimo</a>.</p>
</div>

@{ 
    var mivar = 1;

    for(int i = 0; i < 4; i++)
    {
        @i;
        <br />
        @mivar;
    }
}